@import "tailwindcss";

.sidebarOverlay {
  @apply fixed h-full;
}

.sidebar {
  @apply ease-in duration-500 h-full bg-white shadow-sm w-fit;
  background-color: var(--text-color);
  color: var(--background-color);
  position: relative;
}

.triggerIcon {
  @apply absolute top-0 -right-8;
}

.sidebar-icon {
  color: var(--text-color);
}

.sidebar-icon path {
  transition: d 0.5s ease;
}

.sidebar-icon.openIcon path:last-child {
  d: path("m14 9 3 3-3 3");
}

.sidebar-icon.closedIcon path:last-child {
  d: path("m16 15-3-3 3-3");
}

/* .sidebarItem {
  @apply h-10 p-2 w-45 overflow-hidden text-black;
} */
