@import "tailwindcss";

.group-contact-page {
  @apply flex flex-col w-full grow;
}

.userGroups {
  @apply flex flex-col mt-2;
  height: calc(50% - 20px); /* 50% of parent minus gap and margins */
  min-height: 0; /* Important for flex child to respect max height */
  border-top: 1px solid var(--text-color);
}

.userGroupTitle {
  @apply text-2xl md:text-4xl pl-2 mb-2;
  background: rgba(51, 255, 51, 0.1);
}

.createGroup {
  @apply p-2;
  border: 1px solid var(--text-color);
}

.createGroupForm {
  @apply m-0 p-0;
}

.groupError.errorWrapper > p {
  @apply leading-none;
}

.createGroupForm > .inputWrapper {
  @apply mb-0 md:mb-2;
}

.groupError.errorWrapper {
  @apply flex items-center h-4 pl-2 md:h-2 md:mt-1;
}

.createGroupForm .inputWrapper {
  @apply gap-0;
}

.createGroupForm button {
  @apply m-0;
}

.groupSelectorWrapper {
  @apply flex flex-col grow overflow-y-auto gap-2;
  height: calc(
    100% - 120px
  ); /* Adjust 120px based on the height of your CreateGroup component */
  scrollbar-gutter: stable;
}

.createGroupTitle {
  @apply text-2xl md:text-4xl px-2 mb-2;
  background: rgba(51, 255, 51, 0.1);
}

.groupMain {
  @apply flex flex-col px-2 pt-2 md:p-4  w-full h-full overflow-hidden;
  grid-template-rows: (275px, 1fr, 1fr);
}

.formWrapper.createGroupForm {
  @apply gap-0;
}

.groupCard {
  @apply flex flex-col h-fit p-2 overflow-y-scroll mb-0   w-[calc(50%-0.5rem)] md:w-fit md:min-w-56 lg:min-w-60 xl:min-w-72 2xl:min-w-80;
  /* width: calc(50% - 0.5rem); */
}

.groupCardTitle {
  @apply text-lg font-bold overflow-hidden leading-tight whitespace-nowrap text-ellipsis;
  text-overflow: ellipsis;
}

.groupList {
  @apply flex grow w-full;
  overflow-y: auto;
  min-height: 0; /* Important for nested flex containers */
}

.cardWrapper {
  @apply flex flex-wrap w-full h-fit justify-start items-start  gap-x-2 gap-y-0;
}

.groupCardButtonWrapper {
  @apply flex grow gap-2;
}

.groupCardButtonWrapper > .button.default {
  @apply grow;
}

.groupNavButtons {
  @apply flex justify-center mt-4 gap-2;
}

.friend-contact-page {
  @apply flex flex-col items-center w-full grow overflow-hidden;
}

.friend-main {
  @apply flex grow flex-col w-full  p-2 md:p-4 lg:p-6 overflow-hidden max-w-5xl;
}

.friendsTitle.userGroupTitle {
  @apply text-2xl md:text-4xl lg:text-6xl pl-6 mt-0;
}

.friend-main > .friendList {
  @apply grow overflow-scroll flex flex-col justify-baseline gap-2 md:gap-4 p-2 md:p-6;
}

.navButs {
  @apply flex justify-center p-4 gap-2;
}

.friendCard {
  @apply flex flex-col md:flex-row md:justify-between md:items-center  items-start w-full p-1 md:p-2;
  background-color: rgba(51, 255, 51, 0.1);
  /* width: calc(50% - 0.5rem); */
}

.friendCardTitle.glitch-received-message {
  @apply m-0 mb-1 md:mb-0 pl-2 md:pl-4 grow text-sm md:text-xl font-bold overflow-hidden leading-tight whitespace-nowrap text-ellipsis;
  /* background-color: rgba(5, 240, 5, 0.1); */
  text-overflow: ellipsis;
}

.butWrap {
  @apply flex gap-2 h-fit w-full md:w-fit items-center;
}

.butWrap > .button.default {
  @apply md:min-w-36 w-[calc(50%-0.5rem)] md:w-fit;
}

.noticeWrapper {
  @apply md:min-w-36 w-[calc(50%-0.5rem)] md:w-fit flex justify-center items-center  text-center;
}

.butClickedNotice {
  @apply leading-0 text-lg w-fit;
}

.contactPageNav {
  @apply flex w-full justify-center items-center mt-4 gap-4 text-xl;
}

.contactPageNav > .button.default {
  @apply grow text-lg max-w-52;
}
